@import 'variables';
@import 'header';
@import 'fonts';
@import 'main';
@import 'main-header';
@import 'main-content';
@import 'slider-brands';
@import 'side-bar';
@import 'show-hide-side-bar';

@include font-face('TT Lakes', 'TTLakes-Regular', 400);

body {
  font-family: 'TT Lakes', sans-serif;
  position: relative;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1120px;
  background-color: #f8f8f8;
  box-sizing: border-box;

  @media (min-width: 1366px) {
    padding-left: 176px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  background-color: #ff3e79;
  width: 20px;
  height: 20px;
  padding: 10px;
}
